<div class="main-content">

  <div class="activity" *ngIf="activeActivity == null">
    No activity is currently started
  </div>

  <div class="activity started-activity" *ngIf="activeActivity != null">
    <div class="activity-input">
      {{activities[activeActivity].name}}
    </div>

    <div>
      {{secondsToTimeString(getLastDuration(activities[activeActivity]))}}
    </div>
  </div>

  <div class="charts">
    <div class="chart-content">
      <div class="chart-title">Total Time</div>
      <div class="chart-container">
        <canvas id="total-pie-chart"></canvas>
      </div>
    </div>

    <div class="chart-content">
      <div class="chart-title">Monthly Time</div>
      <div class="chart-container">
        <canvas id="month-pie-chart"></canvas>
      </div>
    </div>

    <div class="chart-content">
      <div class="chart-title">Mean Time</div>
      <div class="chart-container">
        <canvas id="mean-pie-chart"></canvas>
      </div>
    </div>
  </div>

  <div *ngFor="let activity of activities; index as i" class="activity-list" [ngClass]="{'started-activity': i === activeActivity }">
    <div class="activity-header">
      <input [(ngModel)]="activity.name" class="activity-input input-large" type="text" placeholder="New Activity" (change)="updateActivities()"/>

      <button *ngIf="!isStarted(activity)" class="button" (click)="startActivity(activity, i)">Start</button>
      <button *ngIf="isStarted(activity)" class="button" (click)="stopActivity(activity)">Stop</button>
    </div>
    <div class="activity-detail">
      <div class="cell">
        <div class="label">
          Total Duration
        </div>
        <div class="value">
          {{secondsToTimeString(getTotalDuration(activity))}}
        </div>
      </div>

      <div class="cell">
        <div class="label">
          Last Month
        </div>
        <div class="value">
          {{secondsToTimeString(getLastMonthDuration(activity))}}
        </div>
      </div>

      <div class="cell">
        <div class="label">
          Mean Time
        </div>
        <div class="value">
          {{secondsToTimeString(getMeanDuration(activity))}}
        </div>
      </div>

    </div>
  </div>

  <div class="activity">
    <input [(ngModel)]="newActivity.name" class="activity-input" type="text" placeholder="New Activity"/>

    <button class="button" (click)="createNewActivity()">Save</button>
  </div>
</div>
