.main-content {
  max-width: 100rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.activity {
  background-color: #333;
  padding: 4rem 8rem;
  border-radius: .5rem;
  margin-top: 3rem;
  font-size: 3rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 30em) {
    padding: 1rem 2rem;
  }
}

.activity-duration {
  padding: 1rem 2rem;
}

.activity-no-selected {
  padding: 1rem 2rem;
}

.activity-list {
  background-color: #333;
  padding: 4rem 6rem;
  border-radius: .5rem;
  margin-top: 3rem;
  font-size: 3rem;

  @media only screen and (max-width: 30em) {
    padding: 1rem 2rem;
  }
}

.activity-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.activity-detail {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 50em) {
    flex-direction: column;
  }
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.label {
  font-size: 1.5rem;
}

.value {
  font-size: 2.5rem;
}

.activity-input {
  // pointer-events: none;
  min-width: 1rem;
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  font-size: inherit;
  flex-grow: 1;
  border: 0px;
  border-bottom: 1rem;
  padding: 1rem 2rem;
  margin-right: 2rem;

  &:focus {
    outline: none !important;
  }

  @media only screen and (max-width: 30em) {
    font-size: 3rem;
  }
}

.activity-overview {
  cursor: pointer;

  &:hover {
    background-color: #078307b6;
  }
}

.input-large {
  font-size: 5rem;

  @media only screen and (max-width: 30em) {
    font-size: 3rem;
  }
}

.button {
  background-color: #222;
  font-size: 2rem;
  border-style: none;
  color: inherit;
  padding: 2rem 4rem;
  border-radius: .5rem;

  &:hover {
      // text-decoration: underline;
      cursor: pointer;
      background-color: #111;
  }

  @media only screen and (max-width: 30em) {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }
}

.start-button {
  margin-right: 2rem;
}

.chart-content {
  background-color: #333;
  margin: 1rem;
  border-radius: 1rem;
  padding-bottom: 2rem;
}

.chart-container {
  // height: 30vh;
  // width: 10vw;
  display: flex;
  justify-content: center;
}

.chart-title {
  font-size: 2rem;
  margin-top: .2rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.charts {
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 60em) {
    flex-direction: column;
  }
}

.started-activity {
  background-color: #078307;
}

.menu {
  position: relative;
}

.menu-button {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  height: 5rem;

  font-size: 2rem;
  border-style: none;
  color: inherit;
  transition: all .3s;

  &:hover {
      // text-decoration: underline;
      cursor: pointer;
      transform: scale(1.2)
  }
}

.options {
  position: absolute;
  top: 4rem;
  border-radius: .5rem;

  @media only screen and (max-width: 50em) {
    right: 0;
  }

  background-color: #282828;
  // visibility: hidden;
}

.option {
  &:not(:last-child), &:not(:first-child) {
    padding: .5rem 2rem;
  }

  :last-child, :first-child {
    padding: 1rem 2rem;
  }

  &:hover {
    background-color: #222;
    cursor: pointer;
  }
}

.menu-icon {
  position: relative;

  &:hover {
    // text-decoration: underline;
    cursor: pointer;
  }

  &,
  &::before,
  &::after {
      width: 3rem;
      height: 2px;
      background-color: #eee;
      display: inline-block;
  }

  &::before,
  &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
  }

  &::before {
      top: -.9rem;
  }

  &::after {
      top: .9rem;
  }
}

.dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000011;

  &:hover {
    cursor: default;
  }
}

.dialog {
  // position: fixed;
  // top: 40vh;
  // right: 40vh;
  background-color: #444;
  width: 30vw;
  padding: 3rem;
  border-radius: 1rem;

  @media only screen and (max-width: 30em) {
    width: 90vw;
  }
}

.dialog-title {
  margin-bottom: .5rem;
}

.dialog-buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
}

.dialog-button {
  background-color: #222;
  font-size: 2rem;
  border-style: none;
  color: inherit;
  padding: .5rem 1rem;
  border-radius: .5rem;

  &:hover {
      // text-decoration: underline;
      cursor: pointer;
      background-color: #111;
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }
}
